<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8">
<title>LinkIT</title>
<meta name="description" content="overview &amp; stats">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="/super/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/super/assets/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- page specific plugin styles -->
<!-- text fonts -->
<link rel="stylesheet" href="/super/assets/css/fonts.googleapis.com.css">
<!-- ace styles -->
<link rel="stylesheet" href="/super/assets/css/ace.css" class="ace-main-stylesheet"
  id="main-ace-style">
<!--[if lte IE 9]>
      <link rel="stylesheet" href="/super/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
<link rel="stylesheet" href="/super/assets/css/ace-skins.min.css">
<link rel="stylesheet" href="/super/assets/css/ace-rtl.min.css">
<!--[if lte IE 9]>
      <link rel="stylesheet" href="/super/assets/css/ace-ie.min.css" />
    <![endif]-->
<!-- inline styles related to this page -->
<!-- ace settings handler -->
<link rel="stylesheet" href="/super/assets/css/pannellum.css" />
<script src="/super/assets/js/ace-extra.min.js"></script>
<style>
.panorama {
  width: 48%;
  border: 1px solid #CCC;
  padding: 3px;
  margin: 6px;
  float: left;
}
</style>
<style>
@
keyframes nodeInserted {
  from {outline-color: #fff
}

to {
  outline-color: #000
}

}
@
-moz-keyframes nodeInserted {
  from {outline-color: #fff
}

to {
  outline-color: #000
}

}
@
-webkit-keyframes nodeInserted {
  from {outline-color: #fff
}

to {
  outline-color: #000
}

}
@
-ms-keyframes nodeInserted {
  from {outline-color: #fff
}

to {
  outline-color: #000
}

}
@
-o-keyframes nodeInserted {
  from {outline-color: #fff
}

to {
  outline-color: #000
}

}
.ace-save-state {
  animation-duration: 10ms;
  -o-animation-duration: 10ms;
  -ms-animation-duration: 10ms;
  -moz-animation-duration: 10ms;
  -webkit-animation-duration: 10ms;
  animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-name: nodeInserted;
  -o-animation-name: nodeInserted;
  -ms-animation-name: nodeInserted;
  -moz-animation-name: nodeInserted;
  -webkit-animation-name: nodeInserted
}
</style>
<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
<!--[if lte IE 8]>
    <script src="/super/assets/js/html5shiv.min.js"></script>
    <script src="/super/assets/js/respond.min.js"></script>
    <![endif]-->
<style type="text/css">
.jqstooltip {
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  background: rgb(0, 0, 0) transparent;
  background-color: rgba(0, 0, 0, 0.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,
    endColorstr=#99000000);
  -ms-filter:
    "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
  color: white;
  font: 10px arial, san serif;
  text-align: left;
  white-space: nowrap;
  padding: 5px;
  border: 1px solid white;
  z-index: 10000;
}

.jqsfield {
  color: white;
  font: 10px arial, san serif;
  text-align: left;
}
</style>
</head>
<body class="no-skin"> 
  {% include 'super/navbar.html' %}
  <div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
          try {
            ace.settings.loadState('main-container')
          } catch (e) {
          }
        </script>
    {% include 'super/sidebar.html' %}
    <div class="main-content" id="main-content">
      <div class="main-content-inner" id="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
          <ul class="breadcrumb">
            <li><i class="menu-icon fa fa-tachometer"></i> <a href="#">Dashboard</a></li>
          </ul>
          <!-- /.nav-search -->
        </div>
        <div class="page-content">
          <!-- .ace-settings-container -->
          <div class="ace-settings-container" id="ace-settings-container">
            <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
              <i class="ace-icon fa fa-cog bigger-130"></i>
            </div>
            <div class="ace-settings-box clearfix" id="ace-settings-box">
              <div class="pull-left width-100">
                <div class="ace-settings-item">
                  <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover"
                    autocomplete="off"> <label class="lbl" for="ace-settings-hover">
                    Submenu on Hover</label>
                </div>
                <div class="ace-settings-item">
                  <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl"
                    autocomplete="off"> <label class="lbl" for="ace-settings-rtl">
                    Right To Left (rtl)</label>
                </div>
              </div>
              <!-- /.pull-left -->
            </div>
            <!-- /.ace-settings-box -->
          </div>
          <!-- /.ace-settings-container -->
          <div class="page-header">
            <h1>
              Dashboard <small> <i class="ace-icon fa fa-angle-double-right"></i> overview
                &amp; stats
              </small>
            </h1>
          </div>
          <!-- /.page-header -->
          <div class="row">
            <div class="col-sm-12">
              <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                  <h4 class="widget-title lighter">
                    <i class="ace-icon fa fa-star orange"></i> Statics
                  </h4>
                  <div class="widget-toolbar">
                    <a href="#" data-action="collapse"> <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                  </div>
                </div>
                <div class="widget-body">
                  <div class="widget-main no-padding">
                    <table class="table table-bordered table-striped">
                      <tbody>
                        <tr>
                          <td>All Clients</td>
                          <td><b class="yellow">{{all_client}}</b></td>
                        </tr>
                        <tr>
                          <td>Active Clients</td>
                          <td><b class="green">{{all_client-inactive_client}}</b></td>
                        </tr>
                        <tr>
                          <td>Pending Verification</td>
                          <td><b class="red">{{inactive_client}}</b></td>
                        </tr>
                        <tr>
                          <td>Today Orders</td>
                          <td><b class="blue">{{today_order_count}}</b></td>
                        </tr>
                        <tr>
                          <td>Monthly Orders</td>
                          <td><b class="blue">{{month_order_count}}</b></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- /.widget-main -->
                </div>
                <!-- /.widget-body -->
              </div>
              <!-- /.widget-box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <div class="hr hr32 hr-dotted"></div>
          <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.page-content -->
  </div>
  <!-- /.main-content -->
  <div class="main-content" id="print-content" style="display: none;">
    <div class="main-content-inner">
      <div class="dailog-header">
        <span style="font-size: 15px;">Production Print</span>
        <div class="pull-right" style="margin-right: 10px;">
          <button class="btn btn-danger btn-minier" id="bck-btn"
            onclick="orderApi.backFromProductionPrint()">
            <i class="ace-icon fa fa-arrow-left"></i> Back
          </button>
          <button class="btn btn-success btn-minier" id="bck-btn"
            onclick="$('.tobehide').hide();printWindow('#order-print-content', $('#print_title').val())">
            <i class="ace-icon fa fa-print"></i> Print
          </button>
        </div>
      </div>
      <div id="print-inner-content" style="padding: 15px; background-color: #fff;"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-inner">
      <div class="footer-content">
        <span class="bigger-120"> <span class="blue bolder">Link-IT</span> App © 2018-2019
        </span> &nbsp; &nbsp; <span class="action-buttons"> <a href="#"> <i
            class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
        </a> <a href="#"> <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
        </a> <a href="#"> <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
        </a>
        </span>
      </div>
    </div>
  </div>
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i
    class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
  </a>
  <!-- /.main-container -->
  <!-- basic scripts -->
  <!--[if !IE]> -->
  <script src="/super/assets/js/jquery-2.1.4.min.js"></script>
  <!-- <![endif]-->
  <!--[if IE]>
<script src="/super/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
  <script type="text/javascript">
      if ('ontouchstart' in document.documentElement)
        document
            .write("<script src='/super/assets/js/jquery.mobile.custom.min.js'>"
                + "<"+"/script>");
    </script>
  <script src="/super/assets/js/bootstrap.min.js"></script>
  <!-- page specific plugin scripts -->
  <!--[if lte IE 8]>
      <script src="/super/assets/js/excanvas.min.js"></script>
    <![endif]-->
  <script src="/super/assets/js/jquery-ui.custom.min.js"></script>
  <script src="/super/assets/js/jquery.ui.touch-punch.min.js"></script>
  <script src="/super/assets/js/jquery.easypiechart.min.js"></script>
  <script src="/super/assets/js/jquery.sparkline.index.min.js"></script>
  <script src="/super/assets/js/jquery.flot.min.js"></script>
  <script src="/super/assets/js/jquery.flot.pie.min.js"></script>
  <script src="/super/assets/js/jquery.flot.resize.min.js"></script>
  <!-- ace scripts -->
  <script src="/super/assets/js/ace-elements.min.js"></script>
  <script src="/super/assets/js/ace.min.js"></script>
  <script src="/super/assets/js/bootstrap-notify.js"></script>
  <script src="/super/assets/js/algo.js"></script>
  <script src="/super/assets/js/superAdmin.js"></script>
  <!-- inline scripts related to this page -->
  <script type="text/javascript">
      jQuery(function($) {

        //flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
        //but sometimes it brings up errors with normal resize event handlers
        $.resize.throttleWindow = false;

        //pie chart tooltip example
        var $tooltip = $(
            "<div class='tooltip top in'><div class='tooltip-inner'></div></div>")
            .hide().appendTo('body');
        var previousPoint = null;

        /////////////////////////////////////
        $(document).one('ajaxloadstart.page', function(e) {
          $tooltip.remove();
        });

        $('#recent-box [data-rel="tooltip"]').tooltip({
          placement : tooltip_placement
        });
        function tooltip_placement(context, source) {
          var $source = $(source);
          var $parent = $source.closest('.tab-content')
          var off1 = $parent.offset();
          var w1 = $parent.width();

          var off2 = $source.offset();
          //var w2 = $source.width();

          if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2))
            return 'right';
          return 'left';
        }

        $('.dialogs,.comments').ace_scroll({
          size : 300
        });

        //Android's default browser somehow is confused when tapping on label which will lead to dragging the task
        //so disable dragging when clicking on label
        var agent = navigator.userAgent.toLowerCase();

      })
    </script>
  <div class="tooltip top in" style="display: none;">
    <div class="tooltip-inner"></div>
  </div>
  <div id="dialog-overlay" class="dialog-overlay"></div>
  <script src="/super/assets/js/bootstrap-datepicker.min.js"></script>
  <script src="/super/assets/js/pannellum.js"></script>
  <script src="/super/assets/js/spritespin.js"></script>
</body>
</html>