<div class="breadcrumbs ace-save-state" id="breadcrumbs">
  <ul class="breadcrumb">
    <li><i class="ace-icon fa fa-desktop"></i> <a href="javascript:">Product Designer Setup</a></li>
  </ul>
  <!-- /.breadcrumb -->
</div>
<div class="page-content" id="setup_main_menu">
  <div class="row mt-10">
    <div class="col-xs-12">
      <h3 class="header smaller lighter blue">Allow create design without login</h3>
      <p>
        <label><input type="checkbox" name="allow" id="AllowDesignerOffLogin" {%if AllowDesignerOffLogin%}checked{%endif%}> Allow</label>
      </p>
      <button class="btn btn-info btn-minier" type="button" onclick="AllowDesignerOffLogin()">Update</button>
    </div>
    <div class="col-xs-12">
      <h3 class="header smaller lighter blue">Upload product designer master data</h3>
      <p>
        <span class="label label-lg label-pink arrowed-right cursor"
          onclick="GetActionDom('/superadmin/ProductCanvasSetup', 'Product Canvas & Preview Setup')">Product
          Canvas+Preview</span> <span
          class="label label-lg label-yellow arrowed-in arrowed-in-right cursor"
          onclick="GetActionDom('/superadmin/CustomDesign', 'Design Variation')">Design
          Variation</span> <span class="label label-lg label-purple arrowed arrowed-right cursor"
          onclick="GetActionDom('/superadmin/Backgrounds', 'Backgrounds')">Backgrounds</span> <span
          class="label label-lg label-info arrowed-in-right arrowed-in cursor"
          onclick="GetActionDom('/superadmin/FramesView', 'Frames')">Frames</span> <span
          class="label label-lg label-success arrowed cursor"
          onclick="GetActionDom('/superadmin/UploadPattern', 'Text-Patterns')">Text-Patterns</span>
      </p>
    </div>
    <div class="col-xs-12">
      <h3 class="header smaller lighter blue">Product category mapping with designer master
        data</h3>
      <p>
        <span class="label label-lg label-yellow arrowed-right cursor"
          onclick="GetActionDom('/superadmin/MappingCustomDesign', 'Design Variation Mapping')">Design
          Variation Mapping</span> <span class="label label-lg label-purple arrowed arrowed-right cursor"
          onclick="GetActionDom('/superadmin/MappingBackground', 'Backgrounds Mapping')">Backgrounds
          Mapping</span><span class="label label-lg label-info arrowed-in-right arrowed-in cursor"
          onclick="GetActionDom('/superadmin/MappingFrame', 'Frames')">Frames Mapping</span>
      </p>
    </div>
    <div class="col-xs-12">
      <h3 class="header smaller lighter blue">Designer module access setup</h3>
      <p>Select product and give module access for designer</p>
      <div class="col-xs-12 col-sm-5">
        <form class="form-horizontal" id="design_module_access_form">
          <div class="form-group">
            <select onchange="getDesignerModule(this.value)" name="product_key" id="selected_product">
              <option value="">select-product</option> {%for p in p_list%}
              <option value="{{p.entityKey}}">{{p.name}}</option> {%endfor%}
            </select>
          </div>
          <div class="control-group" id="module_selection">
            <label class="control-label bolder blue">Designer Module</label>
            <div class="checkbox">
              <label> <input name="images" type="checkbox"> <span class="lbl">
                  Image upload</span>
              </label>
            </div>
            <div class="checkbox">
              <label> <input name="frames" type="checkbox"> <span class="lbl">Frames</span>
              </label>
            </div>
            <div class="checkbox">
              <label> <input name="backgrounds" type="checkbox"> <span class="lbl">Background</span>
              </label>
            </div>
            <div class="checkbox">
              <label> <input name="text" type="checkbox"> <span class="lbl">Text</span>
              </label>
            </div>
            <div class="checkbox">
              <label> <input name="designs" type="checkbox"> <span class="lbl">Design
                  Variation</span>
              </label>
            </div>
          </div>
          <div class="form-group">
            <br />
            <button style="display: none;" onclick="setDesignerModule()" class="btn btn-info btn-minier" type="button" id="update_designer_module_btn">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="action_dom"></div>
<div id="designerImagesDailog" class="dialog-box dialog-vw-97">
  <div class="dailog-header">
    <span>Uploaded Image files</span> <i class="fa fa-times fa-2x pull-right pr-5 pt-5 cursor"
      onclick="closeDialog('#designerImagesDailog')"></i>
  </div>
  <div class="dialog-content">
    <div class="col-sm-12" id="result_dom"></div>
  </div>
  <button onclick="closeDialog('#designerImagesDailog')" type="button" class="btn btn-default">Close</button>
</div>
