<div class="breadcrumbs ace-save-state" id="breadcrumbs">
  <ul class="breadcrumb">
    <li><i class="ace-icon fa fa-shopping-cart"></i> <a href="javascript:">Order</a></li>
  </ul>
  <!-- /.breadcrumb -->
  <div class="nav-search" id="nav-search"></div>
</div>
<div class="page-content">
  <div class="page-header">
    <form class="form-inline">
      <select class="input-small" name="user"> {%for s in seller_list%}
        <option value="{{s.entityKey}}">{{s.name}}-{{s.person}}</option> {%endfor%}
      </select>
      <div class="input-daterange input-group">
        <input type="text" class="date-input" name="start" id="start" value="{{dt}}"> <span
          class="dt-arrow"> <i class="fa fa-exchange"></i>
        </span> <input type="text" class="date-input" name="end" id="end" value="{{dt}}">
      </div>
      <button type="button" onclick="searchOrder()" class="btn btn-info btn-mini">
        <i class="ace-icon fa fa-search bigger-110"></i>Search
      </button>
    </form>
  </div>
  <div class="row mt-10" id="list-dom">
    <div class="col-xs-12">
      <table class="table  table-bordered table-hover">
        <thead>
          <tr>
            <th>Order Number</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Product</th>
            <th>QTY</th>
            <th>Seller</th> 
          </tr>
        </thead>
        <tbody id="table_body">
          {%for e in order_list%}
          <tr>
            <td>{{e.order_number}}</td>
            <td>{{e.amount}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{e.seller_name}}</td>
          </tr>
          {%endfor%} 
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.input-daterange').datepicker({
    autoclose : true,
    format : 'dd-mm-yyyy',
  });
</script>