<div class="breadcrumbs ace-save-state" id="breadcrumbs">
  <ul class="breadcrumb">
    <li><i class="ace-icon fa fa-picture-o"></i> <a href="javascript:">Product</a></li>
  </ul>
  <!-- /.breadcrumb -->
  <div class="nav-search" id="nav-search">
    <button class="btn btn-success btn-minier" id="add_btn" onclick="showFormDom()">
      <i class="ace-icon fa fa-plus"></i> Product
    </button>
    <button class="btn btn-default btn-minier" id="bck-btn" style="display: none;"
      onclick="showListDom()">
      <i class="ace-icon fa fa-arrow-left"></i> Back
    </button>
  </div>
  <!-- /.nav-search -->
</div>
<div class="page-content">
  <div class="row mt-10" id="list-dom">
    <div class="col-xs-12">
      <table class="table  table-bordered table-hover">
        <thead>
          <tr>
            <td>Code</td>
            <td>Name</td>
            <td>Category</td>
            <td>UOM</td>
            <td>Price</td>
            <td>Size</td>
            <td width="30%">Description</td>
            <td></td>
          </tr>
        </thead>
        <tbody id="product_table_body">
          {%for e in prd_list%}
          <tr id="{{e.entityKey}}">
            <td>{{e.code}}</td>
            <td>{{e.name}}</td>
            <td>{{e.category}}</td>
            <td>{{e.uom}}</td>
            <td>{{e.price}}</td>
            <td>{{e.size}}</td>
            <td>{{e.description}}</td>
            <td><div class="widget-toolbar no-border">
                <button class="btn btn-xs bigger btn-yellow dropdown-toggle" data-toggle="dropdown"
                  aria-expanded="false">
                  <i class="ace-icon fa fa-cog"></i>
                </button>
                <ul
                  class="dropdown-menu dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                  <li><a href="javascript:imgSetupProduct('{{e.entityKey}}')">Setup Images</a></li>
                </ul>
              </div></td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-10" id="form-dom" style="display: none;">
    <div class="col-xs-12">
      <!-- PAGE CONTENT BEGINS -->
      <form class="form-horizontal" role="form" id="product_form">
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right" for="code"> Code </label>
          <div class="col-sm-4">
            <input type="text" name="code" id="code" class="form-control input-custom">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right" for="name"> Name </label>
          <div class="col-sm-4">
            <input type="text" name="name" id="name" class="form-control input-custom">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right" for="size"> Size </label>
          <div class="col-sm-4">
            <input type="text" name="size" id="size" class="form-control input-custom">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right" for="price"> Price </label>
          <div class="col-sm-4">
            <input type="number" step=".01" name="price" id="price"
              class="form-control input-custom" value="0.0">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right" for="category">Event </label>
          <div class="col-sm-4">
            <select class="form-control" id="event" name="event" multiple="multiple">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right" for="category">Category </label>
          <div class="col-sm-4">
            <div class="input-group">
              <select class="form-control input-custom" id="category" name="category">
                {%for e in category_list%}
                <option value="{{e.entityKey}}">{{e.name}}</option> {%endfor%}
              </select> <span class="input-group-addon font-12" onclick="openDialog('#addCategoryDailog')">
                <i class="fa fa-plus bigger-110"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right" for="uom"> UOM </label>
          <div class="col-sm-4">
            <div class="input-group">
              <select class="form-control input-custom" name="uom" id="uom"> {%for e in
                uom_list%}
                <option value="{{e.entityKey}}">{{e.name}}</option> {%endfor%}
              </select> <span class="input-group-addon font-12" onclick="openDialog('#addUOMDailog')">
                <i class="fa fa-plus bigger-110"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
          <label class="col-sm-1 control-label no-padding-right" for="description">Description
          </label>
          <div class="col-sm-4">
            <textarea rows="3" name="description" id="description" class="form-control input-custom"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-1 col-md-9">
            <button class="btn btn-info btn-minier" type="button" onclick="saveProduct()">
              <i class="ace-icon fa fa-check bigger-110"></i> Submit <i id="save_product_spin"
                class="fa fa-spinner fa-spin" style="display: none;"></i>
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn btn-minier" type="reset">
              <i class="ace-icon fa fa-undo bigger-110"></i> Reset
            </button>
          </div>
        </div>
        <div class="clearfix form-actions" id="dummy_dom" style="display: none;">
          <table class="table  table-bordered table-hover">
            <thead>
              <tr>
                <td>Code</td>
                <td>Name</td>
                <td>Category</td>
                <td>UOM</td>
                <td>Price</td>
                <td>Size</td>
                <td>Description</td>
              </tr>
            </thead>
            <tbody id="dummy_product_table_body"></tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-10" id="image-setup" style="display: none;">
    <div class="message-container">
      <div class="message-navbar clearfix">
        <div class="message-bar">
          <div class="message-toolbar">
            <h4 class="widget-title blue smaller">
              Product Code: <font id="prod_code"></font>, Name: <font id="prod_name"></font>
            </h4>
          </div>
        </div>
        <div>
          <div class="messagebar-item-left">
            <a href="javascript:backImgSetupProduct()" class="btn-back-message-list font-12"> <i
              class="ace-icon fa fa-arrow-left bigger-110 middle blue"></i> <b
              class="middle bigger-110">Back</b>
            </a>
          </div>
        </div>
      </div>
      <div class="message-list-container">
        <form class="form-horizontal message-form col-xs-12 col-sm-12 col-md-6 col-lg-6"
          id="upload_product_pic_form">
          <input type="hidden" name="key" id="product_key_upload_img">
          <p>Upload product images</p>
          <div class="form-group">
            <div class="col-sm-9">
              <input type="file" name="pic" id="imgage_file" accept=".png,.jpg,.png,.jpeg" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-1 col-md-9">
              <button class="btn btn-info btn-minier" type="button" onclick="uploadProductImage()">
                <i class="ace-icon fa fa-cloud-upload bigger-110"></i> Upload <i
                  id="save_product_pic_spin" class="fa fa-spinner fa-spin" style="display: none;"></i>
              </button>
            </div>
          </div>
        </form>
        <form class="form-horizontal message-form col-xs-12 col-sm-12 col-md-6 col-lg-6"
          id="upload_product_design_form">
          <input type="hidden" name="key" id="product_key_upload_design">
          <p>Upload product design</p>
          <div class="form-group">
            <label class="col-sm-1">Title</label>
            <div class="col-sm-9">
              <select name="title"> {%for t in design_img_title%}
                <option value="{{t}}">{{t}}</option> {%endfor%}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1">Top</label>
            <div class="col-sm-9">
              <input type="number" name="top" value="300">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1">Left</label>
            <div class="col-sm-9">
              <input type="number" name="left" value="400">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-1"></label>
            <div class="col-sm-9">
              <input type="file" name="pic" id="design_file" accept=".png,.jpg,.png,.jpeg" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-1 col-md-9">
              <button class="btn btn-info btn-minier" type="button" onclick="uploadProductDesign()">
                <i class="ace-icon fa fa-cloud-upload bigger-110"></i> Upload <i
                  id="save_product_design_spin" class="fa fa-spinner fa-spin" style="display: none;"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xs-12 user-profile">
        <div class="widget-box transparent">
          <div class="widget-header widget-header-small">
            <h4 class="widget-title smaller">
              <i class="ace-icon fa fa-check-square-o bigger-110"></i> Product Pictures
            </h4>
          </div>
          <div class="widget-body">
            <div class="widget-main">
              <ul class="ace-thumbnails product-img-list" id="product_img_list">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 user-profile">
        <div class="widget-box transparent">
          <div class="widget-header widget-header-small">
            <h4 class="widget-title smaller">
              <i class="ace-icon fa fa-check-square-o bigger-110"></i> Product Design
            </h4>
          </div>
          <div class="widget-body">
            <div class="widget-main">
              <ul class="ace-thumbnails product-img-list" id="product_design_img_list">
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 user-profile" style="display: none;">
        <div class="widget-box transparent">
          <div class="widget-header widget-header-small">
            <h4 class="widget-title smaller">
              <i class="ace-icon fa fa-check-square-o bigger-110"></i> Product Background
            </h4>
          </div>
          <div class="widget-body">
            <div class="widget-main">
              <ul class="ace-thumbnails product-img-list">
                <li class="text-center" id="product_bg_img">No background image available</li>
              </ul>
            </div>
          </div>
        </div>
        <form class="form-horizontal message-form col-xs-12 col-sm-12 col-md-6 col-lg-6"
          id="upload_product_bg_form" >
          <input type="hidden" name="key" id="product_key_input">
          <p>Upload Background Image</p>
          <div class="form-group">
            <div class="col-sm-9">
              <input type="file" name="pic" id="bg_file" accept=".png,.jpg,.png,.jpeg" />
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-1 col-md-9">
              <button class="btn btn-info btn-minier" type="button"
                onclick="uploadProductBackground()">
                <i class="ace-icon fa fa-cloud-upload bigger-110"></i> Upload <i
                  id="save_product_bg_spin" class="fa fa-spinner fa-spin" style="display: none;"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="addCategoryDailog" class="dialog-box">
  <div class="dailog-header">
    <span>Add Category</span> <i class="fa fa-times fa-2x pull-right pr-5 pt-5 cursor"
      onclick="closeDialog('#addCategoryDailog')"></i>
  </div>
  <div class="dialog-content">
    <form class="form-horizontal mx-w-99" role="form" id="add_new_category_form">
      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="new_category"> Category
        </label>
        <div class="col-sm-9">
          <input type="text" name="category" id="new_category" class="form-control input-custom">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <button class="btn btn-info btn-minier" type="button" onclick="saveProductCategory()">
            <i class="ace-icon fa fa-check bigger-110"></i> Save <i id="add_new_category_spin"
              class="fa fa-spinner fa-spin" style="display: none;"></i>
          </button>
          &nbsp; &nbsp; &nbsp;
          <button class="btn btn-minier" type="button" onclick="closeDialog('#addCategoryDailog')">Close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="addUOMDailog" class="dialog-box">
  <div class="dailog-header">
    <span>Add UOM</span> <i class="fa fa-times fa-2x pull-right pr-5 pt-5 cursor"
      onclick="closeDialog('#addUOMDailog')"></i>
  </div>
  <div class="dialog-content">
    <form class="form-horizontal mx-w-99" role="form" id="add_new_uom_form">
      <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" for="code"> UOM </label>
        <div class="col-sm-9">
          <input type="text" name="uom" id="new_uom" class="form-control input-custom">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-9">
          <button class="btn btn-info btn-minier" type="button" onclick="saveUOM()">
            <i class="ace-icon fa fa-check bigger-110"></i> Save <i id="add_new_uom_spin"
              class="fa fa-spinner fa-spin" style="display: none;"></i>
          </button>
          &nbsp; &nbsp; &nbsp;
          <button class="btn btn-minier" type="button" onclick="closeDialog('#addUOMDailog')">Close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="editDesignSizeDailog" class="dialog-box">
  <div class="dailog-header">
    <span>Edit Design Size</span> <i class="fa fa-times fa-2x pull-right pr-5 pt-5 cursor"
      onclick="closeDialog('#editDesignSizeDailog')"></i>
  </div>
  <div class="dialog-content">
    <form class="form-horizontal mx-w-99" role="form" id="editDesignSize_form">
      <input type="hidden" name="key" id="design_key">
      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="new_category"> Width
        </label>
        <div class="col-sm-9">
          <input type="number" name="design_scallex" id="design_scallex" class="form-control input-custom" step="0.05" max="1">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="new_category"> Height
        </label>
        <div class="col-sm-9">
          <input type="number" name="design_scalley" id="design_scalley" class="form-control input-custom" step="0.05" max="1">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="new_category"> Margin Top
        </label>
        <div class="col-sm-9">
          <input type="number" name="design_top" id="design_top" class="form-control input-custom" min="0">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="new_category"> Margin Left
        </label>
        <div class="col-sm-9">
          <input type="number" name="design_left" id="design_left" class="form-control input-custom"  min="0">
        </div>
      </div> 
      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <button class="btn btn-info btn-minier" type="button" onclick="editDesignSizePost()">
            <i class="ace-icon fa fa-check bigger-110"></i> Save <i id="editDesignSize_spin"
              class="fa fa-spinner fa-spin" style="display: none;"></i>
          </button>
          &nbsp; &nbsp; &nbsp;
          <button class="btn btn-minier" type="button" onclick="closeDialog('#editDesignSizeDailog')">Close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<script type="text/javascript">
  getRequest('', '/superadmin/GetEventList', 'setEventListForProductPage')
</script>
{#
<script type="text/javascript">
  //file input
  /* $('.message-form input[type=file]')
      .ace_file_input()
      .closest('.ace-file-input')
      .addClass('width-90 inline')
      .wrap(
          '<div class="form-group file-input-container"><div class="col-sm-7"></div></div>'); */
</script>
<script type="text/javascript">
 /*  $(function() {
    var frames = [ "super/assets/test/rad_zoom_001.jpg",
        "super/assets/test/rad_zoom_002.jpg",
        "super/assets/test/rad_zoom_003.jpg",
        "super/assets/test/rad_zoom_004.jpg",
        "super/assets/test/rad_zoom_005.jpg",
        "super/assets/test/rad_zoom_006.jpg",
        "super/assets/test/rad_zoom_007.jpg",
        "super/assets/test/rad_zoom_008.jpg",
        "super/assets/test/rad_zoom_009.jpg",
        "super/assets/test/rad_zoom_010.jpg",
        "super/assets/test/rad_zoom_011.jpg",
        "super/assets/test/rad_zoom_012.jpg",
        "super/assets/test/rad_zoom_013.jpg",
        "super/assets/test/rad_zoom_014.jpg",
        "super/assets/test/rad_zoom_015.jpg",
        "super/assets/test/rad_zoom_016.jpg",
        "super/assets/test/rad_zoom_017.jpg",
        "super/assets/test/rad_zoom_018.jpg",
        "super/assets/test/rad_zoom_019.jpg",
        "super/assets/test/rad_zoom_020.jpg",
        "super/assets/test/rad_zoom_021.jpg",
        "super/assets/test/rad_zoom_022.jpg",
        "super/assets/test/rad_zoom_023.jpg",
        "super/assets/test/rad_zoom_024.jpg",
        "super/assets/test/rad_zoom_025.jpg",
        "super/assets/test/rad_zoom_026.jpg",
        "super/assets/test/rad_zoom_027.jpg",
        "super/assets/test/rad_zoom_028.jpg",
        "super/assets/test/rad_zoom_029.jpg",
        "super/assets/test/rad_zoom_030.jpg",
        "super/assets/test/rad_zoom_031.jpg",
        "super/assets/test/rad_zoom_032.jpg",
        "super/assets/test/rad_zoom_033.jpg",
        "super/assets/test/rad_zoom_034.jpg" ];

    $("#360frames").spritespin({
      width : 480,
      height : 327,
      frames : frames.length,
      behavior : "drag", // "hold"
      module : "360",
      sense : -1,
      source : frames,
      animate : true,
      loop : true,
      frameWrap : true,
      frameStep : 1,
      frameTime : 60,
      enableCanvas : true
    });

  }); */
</script>
<script>
  /*  pannellum.viewer('product_img_list_li_1', {
    "type" : "equirectangular",
    "panorama" : "/super/assets/images/alma.jpg",
  });  */
  //"https://pannellum.org/images/alma.jpg"
  //bucket=productpromo
</script>
#}
