/* width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.animation-container .attribute {
  position: absolute;
  bottom: 2px;
  right: 10px;
  font-size: 12px;
  color: #363636;
}

.animation-container .attribute a {
  text-transform: capitalize;
  color: #363636;
  text-decoration: underline;
}

/* .navbar-home {
  text-align: center;
  width: 101%;
  background: #800000 url(/img/nav.gif) repeat-x;
  margin: 0px 0px 0px -2px;
  padding: 0;
  height: 50px;
  overflow: hidden;
  cursor: default;
  position: fixed;
  z-index: 1028;
}

.navbar-home ul {
  list-style: none;
}

.navbar-home li, .navbar-home a {
  display: inline;
  color: #FE9B27;
  text-decoration: none;
  font: bold 11px arial;
  height: 40px;
  line-height: 50px;
  padding: 0px 7px;
  margin: 0;
}

.navbar-home li a:hover, .navbar-home li a.active {
  background: #ED700D url(/img/orange.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color: #000;
}

.navbar-home li a {
  background: transparent url(/img/ad.gif) repeat-x;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
} */
.home-logo {
  height: 92px;
  margin-top: -1px;
  margin-left: -1px;
  padding-right: 5px;
  float: left;
  cursor: pointer;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  z-index: 1028;
  height: 52px;
  overflow: visible;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  border-width: 0;
  border-radius: 0 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-height: 45px;
  background: #438EB9;
  top:0px; 
  left:0px;
  right:0px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #194056c2;
  color: #fff;
  text-decoration: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #438eb9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1028;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-top: 1px solid white;
}

/* Add a grey background color to dropdown links on hover
.dropdown-content a:hover {
  background-color: #ddd;
} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  
}

.prd-seller-list {
  padding: 5px 5px 20px 5px;
  background: #d2b48ca6;
}

.product-container {
  background-image: url('/img/WoodenWallBackground.jpg');
  background-position: left 0px bottom 0px;
  background-repeat: unset;
  border-radius: 20%;
  padding-bottom: 10px;
  box-shadow: 3px 2px 10px 2px #c37739bd;
  display: flow-root;
}

.product-img {
  display: block;
  max-width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 20% 20% 0 0;
  padding: 10px;
}

.product-info {
  color: #000;
  font-weight: 600;
  font-size: 10px;
  display: flex;
}

.text-ovrflw {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-view {
  background-image: url('/img/WoodenWallBackground.jpg');
  background-position: left 0px bottom 0px;
  background-repeat: repeat no-repeat;
  padding-bottom: 10px;
  box-shadow: 3px 2px 10px 2px #c37739bd;
  display: flow-root;
  min-height: 300px;
}

.product-images-list {
  float: left;
  width: 10%;
  padding-bottom: 10px;
}

.product-img-preview {
  float: left;
  width: 30%;
  text-align: center;
  padding-top: 10px;
}

.product-details-action {
  float: left;
  width: 50%;
  padding-top: 10px;
}

.product-images-list img {
  width: 75px;
  height: 75px;
  clear: both;
  margin: auto;
  margin-top: 5px;
  border: 1px dotted #dadada;
  margin-top: 5px;
}

.product-img-preview img {
  width: 300px;
  height: 300px;
  margin: 5px 5px 5px 5px;
  border: 1px dotted #dadada;
}

.product-images-list img:hover, .product-images-list img.active {
  border: 1px dotted #000;
}

.prd-info-content {
  font-size: 12px;
  padding: 5px 5px 20px 5px;
  background: #d2b48ca6;
}

.prd-inf {
  display: table;
  width: 98%;
  width: calc(100% - 24px);
  margin: 0 auto;
  border: 1px dotted #dadada;
}

.prd-inf-row {
  display: table-row
}

.prd-inf-title, .prd-inf-val {
  display: table-cell;
  border-top: 1px dotted #D5E4F1
}

.prd-inf-title {
  text-align: right;
  padding: 6px 10px 6px 4px;
  font-weight: 700;
  background-color: transparent;
  width: 110px;
  vertical-align: middle
}

.prd-inf-val {
  padding: 6px 4px 6px 6px
}

.prd-inf-val>span+span:before {
  display: inline;
  content: ",";
  margin-left: 1px;
  margin-right: 3px;
  color: #666;
  border-bottom: 1px solid #FFF
}

.prd-inf-val>span+span.editable-container:before {
  display: none
}

.prd-inf-row:first-child .prd-inf-title, .prd-inf-row:first-child .prd-inf-val
  {
  border-top: none
}

.prd-inf-striped {
  border: 1px solid #DCEBF7
}

.prd-inf-striped .prd-inf-title {
  color: #336199;
  background-color: #EDF3F4;
  border-top: 1px solid #F7FBFF
}

.prd-inf-striped .prd-inf-val {
  border-top: 1px dotted #DCEBF7;
  padding-left: 12px
}

.order-act {
  display: none;
}

.text-blue {
  color: blue;
}

.order-detail-stage1 {
  padding: 5px 5px 20px 5px;
  margin-top: 10px;
  background: #ffffffba;
  display: flex;
}

.order-bg {
  padding: 5px 5px 20px 5px;
  margin-top: 10px;
  background: #ffffffba;
  display: flex;
}

.ord-dtl-stg-1 {
  
}

.ord-dtl-stg-1 .prod-img {
  width: 300px;
  height: 300px;
  max-width: 40%;
  padding: 5px;
  float: left;
}

.ord-dtl-stg-1 .prod-detail {
  width: 60%;
  padding: 5px;
  border-left: 1px solid #404040;
  float: right;
}

.ord-dtl-stg-1 .search-media {
  border: 1px solid #6178e873;
}

.dom-bg {
  margin-top: 10px;
  padding: 5px 5px 20px 5px;
  background: #d2b48ca6;
}

/* Responsive css */
@media ( max-device-width : 480px) and (orientation: landscape) {
  .navbar-home ul {
    padding-left: 0;
  }
}

@media ( max-device-width : 480px) {
  .navbar-home ul {
    padding-left: 0;
  }
}

@media ( max-device-width : 785px) {
  .navbar-home ul {
    padding-left: 0;
  }
}

@media ( min-width : 768px) {
  .navbar-home ul {
    padding-left: 0;
  }
}

.wmuSlider {
  position: relative;
  overflow: hidden;
}

.wmuSlider .wmuSliderWrapper article img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}
/* Default Skin */
.wmuSliderPagination {
  z-index: 2;
  position: absolute;
  right: 1%;
  bottom: 0px;
}

ul.wmuSliderPagination {
  padding: 0;
}

.wmuSliderPagination li {
  float: left;
  margin: 0 8px 0 0;
  list-style-type: none;
}

.wmuSliderPagination a {
  display: block;
  text-indent: -9999px;
  background: #323A45;
  height: 12px;
  width: 12px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}

.wmuSliderPagination a.wmuActive {
  background: #989CA2;
}

a.banner-matter {
  text-decoration: none;
}

.shoes-grid-left {
  width: 100%;
}

.con-sed-grid {
  border: 1px solid #ddd;
  padding: 1.5em 1em 2em;
  margin: 0em 3% 0 0;
  width: 48%;
}

.elit-grid {
  float: left;
  width: 49%;
}

.elit-grid h4 {
  margin: 0;
  font-size: 1.3em;
  font-weight: 700;
}

.elit-grid  label {
  margin: 0;
  font-size: 1.2em;
  color: #000;
  font-weight: 700;
}

.elit-grid p {
  margin: 0;
  font-size: 1em;
  color: #000;
  width: 80%;
  padding: 0em 0 1.5em;
}

.shoe-left {
  float: left;
}

.products {
  width: 100%;
  border: 1px solid #ddd;
  float: left;
  margin: 1.5em 0;
  padding: 0.7em 1em;
}

.grid-chain-bottom {
  border-top: 1px solid #ddd;
}

.slide-container {
  background: #fff;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

.shoes-grid {
  width: 68%;
  float: left;
}

.signin-grid {
  min-height: 480px;
  width: 32%;
  padding-left: 2%;
  float: right;
  border-left: 1px solid #dadada;
}

.on-get {
  font-size: 1.1em;
  color: #fff;
  padding: 0.6em 0.8em;
  background: #323A45;
}

.product-promo-slide {
  margin-top: 20px;
  margin-bottom: 20px; 
}

.product-promo-img-box{
  background-repeat: round;
  background: white;
}

.product-promo-img{
  height: 375px !important;
}

.events-slide {
  background: #fff;
  border: 1px solid #dadada;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

.event-img {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

.events-search {
  background: #fff;
  border: 1px solid #dadada;
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.box-brdr{
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
}

.pd-10{
  padding: 10px;
}

.prd-sponcr{
  height: 50px;
  width: 100%; 
  background: white;
  background-repeat: round;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

.ready-design-box{
  float:left;
  width: 350px;
  height: 200px;
  margin: 15px;
  border: 1px solid #a6a6a6;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.ready-design-box:hover{
  -webkit-box-shadow: 0px 0px 8px #2196f3e6;
  -moz-box-shadow: 0px 0px 8px #2196f3e6;
  box-shadow: 0px 0px 8px #2196f3e6; 
}

.ready-design-box img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; 
} 

.button { 
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
  padding: 12px 12px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}
.button:hover{
  background: #03a9f4bf;
}
a.button:hover{
  color: white;
  text-decoration: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

#modal-background{
    width: 100%;
    height: fit-content;
    background-color: #000000bd;
    position: absolute;
    top: 0;
    display: none;
    z-index: 10000;
    text-align: center;
}

#modal-content{
   background-color: #FFFFFF;
   width: 97vw;
   position: absolute;
   top: 50px;
   left: 1vw;
   z-index: 100;
   margin-bottom: 10px;
   display: contents;
}

.ready-design-box:hover .button {
  opacity: 1;
}
.ready-design-box:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.red {
  color: red;
}
.inline{
  display: inline-block;
}