/*ANUMATION*/
.animation-container {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #A5E2FF;
  background-image: url('/img/skyline.jpg');
  background-position: left 367px bottom 248px;
  background-repeat: repeat no-repeat;
}

.animation-container .buildings {
  height: 375px;
  width: 100%;
  position: fixed;
  bottom: 188px;
  background-image: url('/img/landmarks.png');
  background-position: left -625px bottom;
  background-repeat: repeat no-repeat;
}

.animation-container .road1 {
  background-color: #2D2D2D;
  height: 126px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-image: url('/img/road1.png');
  background-position: left 0px bottom;
  background-repeat: repeat no-repeat;
}

.animation-container .road2 {
  background-color: #2D2D2D;
  height: 62px;
  width: 100%;
  position: fixed;
  bottom: 126px;
  background-image: url('/img/road2.png');
  background-position: left 0px bottom;
  background-repeat: repeat no-repeat;
}

.animation-container .taxi1 {
  width: 335px;
  height: 133px;
  background-image: url('/img/taxi1.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 16px;
  right: 100px;
  z-index: 100;
}

.animation-container .train {
  width: 90px;
  height: 394px;
  background-image: url('/img/local_train.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 72px;
  left: 0px;
}

.animation-container .bus1 {
  width: 480px;
  height: 168px;
  background-image: url('/img/bus1.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 103px;
  left: 186px;
  z-index: 80;
}

.animation-container .bus2 {
  width: 546px;
  height: 189px;
  background-image: url('/img/bus2.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 50px;
  right: -600px;
  z-index: 85;
}

.animation-container .car1 {
  width: 200px;
  height: 86px;
  background-image: url('/img/car1.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 105px;
  left: -986px;
  z-index: 82;
}

.animation-container .car2 {
  width: 255px;
  height: 109px;
  background-image: url('/img/car2.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 24px;
  right: -4300px;
  z-index: 100;
}

.animation-container .cycle {
  width: 92px;
  height: 95px;
  background-image: url('/img/cycle.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 145px;
  left: -586px;
  z-index: 75;
}

.animation-container .truck {
  width: 258px;
  height: 103px;
  background-image: url('/img/truck.png');
  background-repeat: no-repeat;
  position: absolute;
  bottom: 145px;
  right: 400px;
  z-index: 75;
}

.animation-container .attribute {
  position: absolute;
  bottom: 2px;
  right: 10px;
  font-size: 12px;
  color: #363636;
}

.animation-container .attribute a {
  text-transform: capitalize;
  color: #363636;
  text-decoration: underline;
}

.navbar-home {
  text-align: center;
  width: 101%;
  background: #800000 url(/img/nav.gif) repeat-x;
  margin: 0px 0px 0px -2px;
  padding: 0;
  height: 50px;
  overflow: hidden;
  cursor: default;
  position: fixed;
  z-index: 1028;
}

.navbar-home ul {
  list-style: none;
}

.navbar-home li, .navbar-home a {
  display: inline;
  color: #FE9B27;
  text-decoration: none;
  font: bold 11px arial;
  height: 40px;
  line-height: 50px;
  padding: 0px 7px;
  margin: 0;
}

.navbar-home li a:hover, .navbar-home li a.active {
  background: #ED700D url(/img/orange.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  color: #000;
}

.navbar-home li a {
  background: transparent url(/img/ad.gif) repeat-x;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.container {
  padding-top: 65px;
}

.prd-seller-list {
  padding: 5px 5px 20px 5px;
  background: #d2b48ca6;
}

.product-container {
  background-image: url('/img/WoodenWallBackground.jpg');
  background-position: left 0px bottom 0px;
  background-repeat: repeat no-repeat;
  border-radius: 20%;
  padding-bottom: 10px;
  box-shadow: 3px 2px 10px 2px #c37739bd;
  display: flow-root;
}

.product-img {
  display: block;
  max-width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border-radius: 20% 20% 0 0;
  padding: 10px;
}

.product-info {
  color: #000;
  font-weight: 600;
  font-size: 10px;
  display: flex;
}

.text-ovrflw {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-view {
  background-image: url('/img/WoodenWallBackground.jpg');
  background-position: left 0px bottom 0px;
  background-repeat: repeat no-repeat;
  padding-bottom: 10px;
  box-shadow: 3px 2px 10px 2px #c37739bd;
  display: flow-root;
  min-height: 300px;
}

.product-images-list {
  float: left;
  width: 10%;
  padding-bottom: 10px;
}

.product-img-preview {
  float: left;
  width: 30%;
  text-align: center;
  padding-top: 10px;
}

.product-details-action {
  float: left;
  width: 50%;
  padding-top: 10px;
}

.product-images-list img {
  width: 75px;
  height: 75px;
  clear: both;
  margin: auto;
  margin-top: 5px;
  border: 1px dotted #dadada;
  margin-top: 5px;
}

.product-img-preview img {
  width: 300px;
  height: 300px;
  margin: 5px 5px 5px 5px;
  border: 1px dotted #dadada;
}

.product-images-list img:hover, .product-images-list img.active {
  border: 1px dotted #000;
}

.prd-info-content {
  font-size: 12px;
  padding: 5px 5px 20px 5px;
  background: #d2b48ca6;
}

.prd-inf {
  display: table;
  width: 98%;
  width: calc(100% - 24px);
  margin: 0 auto;
  border: 1px dotted #dadada;
}

.prd-inf-row {
  display: table-row
}

.prd-inf-title, .prd-inf-val {
  display: table-cell;
  border-top: 1px dotted #D5E4F1
}

.prd-inf-title {
  text-align: right;
  padding: 6px 10px 6px 4px;
  font-weight: 700;
  background-color: transparent;
  width: 110px;
  vertical-align: middle
}

.prd-inf-val {
  padding: 6px 4px 6px 6px
}

.prd-inf-val>span+span:before {
  display: inline;
  content: ",";
  margin-left: 1px;
  margin-right: 3px;
  color: #666;
  border-bottom: 1px solid #FFF
}

.prd-inf-val>span+span.editable-container:before {
  display: none
}

.prd-inf-row:first-child .prd-inf-title, .prd-inf-row:first-child .prd-inf-val
  {
  border-top: none
}

.prd-inf-striped {
  border: 1px solid #DCEBF7
}

.prd-inf-striped .prd-inf-title {
  color: #336199;
  background-color: #EDF3F4;
  border-top: 1px solid #F7FBFF
}

.prd-inf-striped .prd-inf-val {
  border-top: 1px dotted #DCEBF7;
  padding-left: 12px
}

.order-act {
  display: none;
}

.text-blue {
  color: blue;
}

.order-detail-stage1 {
  padding: 5px 5px 20px 5px;
  margin-top: 10px;
  background: #ffffffba;
  display: flex;
}

.order-bg {
  padding: 5px 5px 20px 5px;
  margin-top: 10px;
  background: #ffffffba;
  display: flex;
}

.ord-dtl-stg-1 {
  
}

.ord-dtl-stg-1 .prod-img {
  width: 300px;
  height: 300px;
  max-width: 40%;
  padding: 5px;
  float: left;
}

.ord-dtl-stg-1 .prod-detail {
  width: 60%;
  padding: 5px;
  border-left: 1px solid #404040;
  float: right;
}

.ord-dtl-stg-1 .search-media {
  border: 1px solid #6178e873;
}

.dom-bg {
  margin-top: 10px;
  padding: 5px 5px 20px 5px;
  background: #d2b48ca6;
}

/* Responsive css */
@media ( max-device-width : 480px) and (orientation: landscape) {
  .navbar-home ul {
    padding-left: 0;
  }
}

@media ( max-device-width : 480px) {
  .navbar-home ul {
    padding-left: 0;
  }
}

@media ( max-device-width : 785px) {
  .navbar-home ul {
    padding-left: 0;
  }
}

@media ( min-width : 768px) {
  .navbar-home ul {
    padding-left: 0;
  }
}