
<!DOCTYPE html>
<html>
<head>
<title>Craftyourchoice</title>
<link rel="shortcut icon" type="image/png" href="/img/fevicon.png" />
<link rel="stylesheet" href="/css/api.css">
<link href="/light/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--theme-style-->
<link href="/light/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<link rel="stylesheet" href="/super/assets/font-awesome/4.5.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet'
  type='text/css'>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- Google Webfonts -->
<link href='/css/Gorditas.css' rel='stylesheet' type='text/css'>
<!-- Google Webfonts 110 -->
<link href='/css/googlefonts.css' rel='stylesheet' type='text/css'>
<!-- The CSS for the plugin itself - required -->
<link rel="stylesheet" type="text/css" href="/productdesigner/css/FancyProductDesigner-all.min.css" />
<!-- Optional - only when you would like to use custom fonts - optional -->
<link rel="stylesheet" type="text/css"
  href="/productdesigner/css/jquery.fancyProductDesigner-fonts.css" />
</head>
<body style="height: 100%; width: 100%">  
  <div class="container main-content" id="product_design_caontainer"
    style="bottom: 0 !important; padding-left: 0;top:0 !important;">
    <div id="set_frame_mask_dom" class="frame-mask-action-dom" style="display: none;">
      <input type="hidden" id="frame_id" name="frame"> <input type="hidden" id="pic_id"
        name="pic"> <span class="btn btn-sm btn-success btn-round btn-mini"
        style="margin-top: 3%;" id="set_frame_mask_btn"><span class="fpd-icon-done"></span>
        Save Frame</span>
    </div>
    <div id="pls_wait_design_saving" class="saving-design" style="display: none;">
      <div class="reveal-modal">
        <h3>Please wait saving your design...</h3>
      </div>
    </div>
    <div id="pls_wait_design_loadind" class="saving-design" style="display: none;">
      <div class="reveal-modal" id="msg_div">
        <h3>Please wait loading designer files...</h3>
      </div>
    </div>
    <div id="main-container">
      <h3 id="clothing" style="float: left;">{{p.name}} Designer</h3>
      <button type="button" onclick="window.history.go(-1); return false;"
        class="btn btn-sm btn-primary btn-round btn-mini mt-15 mr-5 pull-right"
        style="margin-left: 5px;">
        <i class="ace-icon fa fa-arrow-left"></i> Back
      </button>
      {%if user_obj%}
      <button type="button" onclick="createUserDisgn('/CreateDesign')" id="save_design_btn"
        class="btn btn-sm btn-success btn-round btn-mini mt-15 pull-right">
        <i class="ace-icon fa fa-save"></i> Save
      </button>
      {%endif%}
      <div id="product-designer" style="clear: both;"
        class="fpd-container fpd-shadow-2 fpd-sidebar fpd-tabs fpd-tabs-side fpd-top-actions-centered fpd-bottom-actions-centered fpd-views-inside-left">
        {%if canvas%}
        <div class="fpd-product" title="Base" data-thumbnail="{{canvas.img_url}}">
          <img src="{%if canvas.img_url%}{{canvas.img_url}}=s0{%else%}/img/Product.png{%endif%}"
            title="Base"
            data-parameters='{"opacity":0, "product_canvas": true, "left": {{canvas.left}}, "top": {{canvas.top}}, "name": "Front side of card" }' />
          <img src="/images/cards/cardfront.png" title="background" data-parameters='{"left": 325, "top": 208, "colors": "#dccb1c","boundingBox": "Base", "zChangeable": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true}' />
          <span title="Brand Title bar" data-parameters='{"fontSize":24, "left": 150, "top": 60, "boundingBox": "Base", "zChangeable": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "colors": "#ffffff"}' 
          >Your Brand Name Here</span>  
          <span title="Brand msg bar" data-parameters='{"fontSize":12, "left": 120, "top": 95, "boundingBox": "Base", "zChangeable": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "colors": "#ffffff"}' 
          >A Message From Your Company</span>  
          <span title="Full Name bar" data-parameters='{"fontSize":24, "left": 80, "top": 200, "boundingBox": "Base", "zChangeable": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "colors": "#ffffff"}' 
          >Full Name</span>  
          <span title="Main Title bar" data-parameters='{"fontSize":12, "left": 55, "top": 225, "boundingBox": "Base", "zChangeable": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "colors": "#ffffff"}' 
          >Main Title</span>   
          <span title="Address bar" data-parameters='{"fontSize":12, "left": 80, "top": 325, "boundingBox": "Base", "zChangeable": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "colors": "#ffffff"}' 
          >122 Main Street
City, STATE, 00123</span>  
          <span title="contact bar" data-parameters='{"fontSize":12, "left": 560, "top": 325, "boundingBox": "Base", "zChangeable": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "colors": "#000000"}' 
          >      tel. (206)555-1689
you@emailaddres.com</span>
          <img src="/images/cards/kingologo.png" title="your_logo" data-parameters='{"left": 520, "top": 155, "colors": "#2893e5","boundingBox": "Base", "zChangeable": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true}' />
          <div class="fpd-product" title="Base" data-thumbnail="{{canvas.img_url}}">
            <img src="{%if canvas.img_url%}{{canvas.img_url}}=s0{%else%}/img/Product.png{%endif%}"
            title="Base"
            data-parameters='{"opacity":0, "product_canvas": true, "left": {{canvas.left}}, "top": {{canvas.top}}, "name":"Back side of card" }' />
            <img src="/images/cards/cardback.png" title="background 2" data-parameters='{"left": 325, "top": 208, "colors": "#dccb1c","boundingBox": "Base", "zChangeable": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true}' />
            <img src="/images/cards/kingologo.png" title="your_logo_2" data-parameters='{"left": 320, "top": 180, "colors": "#2893e5","boundingBox": "Base", "zChangeable": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true}' />
            <span title="Main Title bar" data-parameters='{"fontSize":12, "left": 320, "top": 340, "boundingBox": "Base", "zChangeable": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "colors": "#000000"}' 
          >Your custom text</span> 
          </div>  
        </div>
        {%else%}
        <div class="fpd-product" title="Base" data-thumbnail="/img/MUG.png">
          <img src="/img/Product.png" title="Base"
            data-parameters='{"product_canvas": true, "left": 525, "top": 400, "name": "Front"}' />
        </div>
        {%endif%} 
        <div class="fpd-design">
          {%for cat in design_list%}
          <div class="fpd-category" title="{{cat.title}}" data-thumbnail="">
            {%if cat.key in sub_cat_dict%} {%set cat_list=sub_cat_dict[cat.key]%} {%for sc in
            cat_list%}
            <div class="fpd-category" title="{{sc.title}}" data-thumbnail="">
              {%for img in sc.img_url%} <img src="{{img}}=s0" title="{{sc.title}}{{loop.index}}"
                data-parameters='{"clipart": true, "zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
              {%endfor%}
            </div>
            {%endfor%} {%endif%} {%for img in cat.img_url%} <img src="{{img}}=s0"
              title="{{cat.title}}{{loop.index}}"
              data-parameters='{"clipart": true, "zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
            {%endfor%}
          </div>
          {%endfor%}
        </div>  
        <div class="fpd-background">
          {%for cat in bg_list%}
          <div class="fpd-category" title="{{cat.title}}" data-thumbnail="">
            {%if cat.key in sub_bg_dict%} {%set cat_list=sub_bg_dict[cat.key]%} {%for sc in
            cat_list%}
            <div class="fpd-category" title="{{sc.title}}" data-thumbnail="">
              {%for img in sc.img_url%} <img src="{{img}}=s0" title="{{sc.title}}{{loop.index}}"
                data-parameters='{"background_layer": true, "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
              {%endfor%}
            </div>
            {%endfor%} {%endif%} {%for img in cat.img_url%} <img src="{{img}}=s0"
              title="{{cat.title}}{{loop.index}}"
              data-parameters='{"background_layer": true,"removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
            {%endfor%}
          </div>
          {%endfor%}
        </div>  
        <div class="fpd-frame">
          {%for cat in frame_list%}
          <div class="fpd-category" title="{{cat.title}}" data-thumbnail="">
            {%if cat.key in sub_frame_dict%} {%set cat_list=sub_frame_dict[cat.key]%} {%for sc in
            cat_list%}
            <div class="fpd-category" title="{{sc.title}}" data-thumbnail="">
              {%for img in sc.img_url%} <img src="{{img}}" title="{{sc.img_title[loop.index-1]}}"
                data-parameters='{"svg": "{{sc.bucket_path[loop.index-1]}}", "zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
              {%endfor%}
            </div>
            {%endfor%} {%endif%} {%for img in cat.img_url%} <img src="{{img}}"
              title="{{cat.img_title[loop.index-1]}}"
              data-parameters='{"svg": "{{cat.bucket_path[loop.index-1]}}", "zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}'>
            {%endfor%}
          </div>
          {%endfor%}
        </div> 
      </div> 
      <div class="fpd-clearfix text-center" style="margin-top: 15px;">
        <div class="api-buttons fpd-container">
          <h5>Help and tips:</h5>
          <ol>
            <li>Keyboard Control: Use arrow keys to move and backspace key to delete selected
              element</li>
          </ol>
        </div>
      </div>
      <div class="fpd-loader-wrapper" id="frame-loader" style="display: none;">
        <div class="fpd-loader">
          <div class="fpd-loader-circle"></div>
          <span class="fpd-loader-text" data-defaulttext="Initializing Product Designer">Please
            wait...</span>
        </div>
      </div>
    </div>
  </div>
  <form id="create_product_design_form" style="display: none;">
    <input type="hidden" name="product" id="product_key" value="{{key}}">
    <textarea name="layer" id="design_layer"></textarea>
    <input type="hidden" name="design_print" id="design_print"> <input type="hidden"
      name="design_key" id="design_key" value="{{saveDesignKey}}">
  </form>
</body>
<!-- Include js files -->
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/productdesigner/js/jquery-mousewheel.js" type="text/javascript"></script>
<script src="/productdesigner/js/preview.js" type="text/javascript"></script>
<script src="/productdesigner/js/fabric.min.js" type="text/javascript"></script>
<script src="/productdesigner/js/fancyDesigner2.js" type="text/javascript"></script>
<script src="/productdesigner/js/preview.js" type="text/javascript"></script>
<script src="/js/api.js" type="text/javascript"></script>
<script type="text/javascript">  
window.addEventListener("beforeunload", function (e) {
    
}); 

window.onbeforeunload = function () {
  // This will happen before leaving the page
  var confirmationMessage =  'If you leave before saving, your changes will be lost.';
  if(document.activeElement && document.activeElement.id != "save_design_btn")
  return confirmationMessage;
}

var canvasPreviewUrl = '',
prodCode='{{p.code}}',
preview_top = 0,
preview_left = 0,
stage_height = 780,
stage_width=780,
main_bar_module=[];
{%for m in designer_module%}
main_bar_module.push('{{m}}');
{%else%}
main_bar_module = ['images','text'];
{%endfor%}
main_bar_module.push('manage-layers');

{%if canvas%}
canvasPreviewUrl = {%if canvas.preview_url%}'{{canvas.preview_url}}=s0'{%else%}''{%endif%};
preview_top = '{{canvas.preview_top}}px';
preview_left = '{{canvas.preview_left}}px';
stage_height = {{canvas.stage_height}};
stage_width = {{canvas.stage_width}};
{%endif%}

  jQuery(document).ready(
      function() {

        var $yourDesigner = $('#product-designer'), pluginOpts = {
          stageWidth : stage_width, 
          stageHeight: stage_height, 
          editorMode : true,
          fitImagesInCanvas: true,
          mainBarModules : main_bar_module,
          actions : {
            'right' : [ ],
            'top' : ['preview-lightbox', 'undo', 'redo', 'reset-product', 'qr-code', 'magnify-glass', 'download', 'print'],
            'bottom' : [],
          },

          fonts : [ 'Arial', 'Fearless', 'Helvetica', 'Times New Roman',
              'Verdana', 'Geneva', 'Gorditas', 'Eczar', 'Roboto Mono',
              'Poor Story', 'Titillium Web', 'Noto Serif', 'Work Sans',
              'Chela One', 'Indie Flower', 'Inconsolata', 'Bitter',
              'Libre Baskerville', 'Anton', 'Josefin Sans',
              'Cormorant Unicase', 'Lobster', 'Arvo', 'Pacifico', 'Do Hyeon',
              'Shadows Into Light', 'Dancing Script', 'Abril Fatface',
              'Bree Serif', 'Coda Caption', 'Kanit', 'Acme',
              'Gloria Hallelujah', 'Righteous', 'Rajdhani', 'Permanent Marker',
              'Farsan', 'Great Vibes', 'Concert One', 'Poiret One', 'Satisfy',
              'Courgette', 'Marck Script', 'Prata', 'Audiowide', 'Unica One',
              'Julius Sans One', 'Ultra', 'Economica', 'IBM Plex Mono',
              'Amaranth', 'Prosto One', 'Bangers', 'Shrikhand', 'Handlee',
              'Boogaloo', 'Tangerine', 'Kalam', 'Sacramento',
              'Architects Daughter', 'PT Mono', 'Bad Script', 'Special Elite',
              'Libre Barcode 128 Text', 'Shadows Into Light Two',
              'Cabin Sketch', 'Parisienne', 'Damion', 'Covered By Your Grace',
              'Playball', 'Nothing You Could Do', 'Homemade Apple',
              'Fugaz One', 'Rock Salt', 'Allura', 'Press Start 2P',
              'Alex Brush', 'Black Ops One', 'Carter One', 'Just Another Hand',
              'Fredericka the Great', 'Syncopate', 'Bungee Inline', 'Niconne',
              'Coming Soon', 'Leckerli One', 'Galada', 'Caveat Brush',
              'Pinyon Script', 'Cinzel Decorative', 'Mr Dafoe',
              'Reenie Beanie', 'Italianno', 'Nanum Pen Script', 'Quantico',
              'Skranji', 'Allerta Stencil', 'Grand Hotel', 'Yesteryear',
              'Marvel', 'Freckle Face', 'Rochester', 'Nanum Brush Script',
              'Alegreya SC', 'Annie Use Your Telescope', 'Faster One',
              'Raleway Dots', 'Calligraffitti', 'Aclonica', 'Yatra One',
              'Share Tech Mono', 'Graduate', 'Petit Formal Script',
              'East Sea Dokdo', 'Love Ya Like A Sister', 'Kurale',
              'IM Fell Double Pica', ],
          customTextParameters : {
            colors : true,
            removable : true,
            resizable : true,
            draggable : true,
            rotatable : true,
            autoCenter : true,
            boundingBox : "Base",
            curvable : true,
            curveReverse : true,
          },
          customImageParameters : {
            removable : true,
            colors : '#000',
            autoCenter : true,
            boundingBox : "Base",
            minW : 1,
            minH : 1,
            maxW : 9900,
            maxH : 9900,
            filter : true, 
            advancedEditing : true,
            editorMode : true,
          },
          imageParameters : {
            filter : true, 
            advancedEditing : true, 
          },
          imageEditorSettings : {
            masks : [
              '/wp-content/masks/circle.svg',
              '/wp-content/masks/heart.svg',
              '/wp-content/masks/star.svg',
              '/wp-content/masks/hexagon.svg',
              '/wp-content/masks/arches.svg',
              '/wp-content/masks/atomic.svg',
              '/wp-content/masks/flame.svg',
              ],
          },
          elementParameters : {
            patterns : [{%for img in patterns%}'{{img}}',{%endfor%}],
               
          },
        };

        yourDesigner = new FancyProductDesigner($yourDesigner, pluginOpts); 
      });
 
</script>
<script src="/js/designAlgo.js" type="text/javascript"></script>