<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create Product Design</title>
<!-- Style sheets -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- Google Webfonts -->
<link href='/css/Gorditas.css' rel='stylesheet' type='text/css'>
<!-- The CSS for the plugin itself - required -->
<link rel="stylesheet" type="text/css" href="/css/FancyProductDesigner-all.min.css" />
<!-- Optional - only when you would like to use custom fonts - optional -->
<link rel="stylesheet" type="text/css" href="/css/jquery.fancyProductDesigner-fonts.css" />
<!-- Include js files -->
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery-ui.min.js" type="text/javascript"></script>
<!-- HTML5 canvas library - required -->
<script src="/js/fabric.min.js" type="text/javascript"></script>
<!-- The plugin itself - required -->
<script src="/js/FancyProductDesigner-all.min.js" type="text/javascript"></script>
<script src="/js/designAlgo.js" type="text/javascript"></script>
<script type="text/javascript">
  jQuery(document).ready(
      function() {

        var $yourDesigner = $('#product-designer'), pluginOpts = {
          /* stageWidth : 1200, */
          editorMode : false,
          toolbarPlacement : "smart",
          actions : {
            'top' : [ 'download', 'print', 'preview-lightbox' ],
            'right' : [ 'magnify-glass', 'zoom', 'reset-product', 'qr-code' ],
            'bottom' : [ 'undo', 'redo' ],
          },

          fonts : [ 'Arial', 'Fearless', 'Helvetica', 'Times New Roman',
              'Verdana', 'Geneva', 'Gorditas', 'Eczar', 'Roboto Mono',
              'Poor Story', 'Titillium Web', 'Noto Serif', 'Work Sans',
              'Chela One', 'Indie Flower', 'Inconsolata', 'Bitter',
              'Libre Baskerville', 'Anton', 'Josefin Sans',
              'Cormorant Unicase', 'Lobster', 'Arvo', 'Pacifico', 'Do Hyeon',
              'Shadows Into Light', 'Dancing Script', 'Abril Fatface',
              'Bree Serif', 'Coda Caption', 'Kanit', 'Acme',
              'Gloria Hallelujah', 'Righteous', 'Rajdhani', 'Permanent Marker',
              'Farsan', 'Great Vibes', 'Concert One', 'Poiret One', 'Satisfy',
              'Courgette', 'Marck Script', 'Prata', 'Audiowide', 'Unica One',
              'Julius Sans One', 'Ultra', 'Economica', 'IBM Plex Mono',
              'Amaranth', 'Prosto One', 'Bangers', 'Shrikhand', 'Handlee',
              'Boogaloo', 'Tangerine', 'Kalam', 'Sacramento',
              'Architects Daughter', 'PT Mono', 'Bad Script', 'Special Elite',
              'Libre Barcode 128 Text', 'Shadows Into Light Two',
              'Cabin Sketch', 'Parisienne', 'Damion', 'Covered By Your Grace',
              'Playball', 'Nothing You Could Do', 'Homemade Apple',
              'Fugaz One', 'Rock Salt', 'Allura', 'Press Start 2P',
              'Alex Brush', 'Black Ops One', 'Carter One', 'Just Another Hand',
              'Fredericka the Great', 'Syncopate', 'Bungee Inline', 'Niconne',
              'Coming Soon', 'Leckerli One', 'Galada', 'Caveat Brush',
              'Pinyon Script', 'Cinzel Decorative', 'Mr Dafoe',
              'Reenie Beanie', 'Italianno', 'Nanum Pen Script', 'Quantico',
              'Skranji', 'Allerta Stencil', 'Grand Hotel', 'Yesteryear',
              'Marvel', 'Freckle Face', 'Rochester', 'Nanum Brush Script',
              'Alegreya SC', 'Annie Use Your Telescope', 'Faster One',
              'Raleway Dots', 'Calligraffitti', 'Aclonica', 'Yatra One',
              'Share Tech Mono', 'Graduate', 'Petit Formal Script',
              'East Sea Dokdo', 'Love Ya Like A Sister', 'Kurale',
              'IM Fell Double Pica', ],
          customTextParameters : {
            colors : false,
            removable : true,
            resizable : true,
            draggable : true,
            rotatable : true,
            autoCenter : true,
            boundingBox : "Base"
          },
          customImageParameters : {
            draggable : true,
            removable : true,
            colors : '#000',
            autoCenter : true,
            boundingBox : "Base",
            resizable : true,
          }
        };
        yourDesigner = new FancyProductDesigner($yourDesigner, pluginOpts);

        /*         //print button
         $('#print-button').click(function() {
         yourDesigner.print();
         return false;
         });

         //create an image
         $('#image-button').click(function() {
         var image = yourDesigner.createImage();
         return false;
         });

         //checkout button with getProduct()
         $('#checkout-button').click(function() {
         var product = yourDesigner.getProduct();
         console.log(product);
         return false;
         });

         //event handler when the price is changing
         $yourDesigner.on('priceChange', function(evt, price, currentPrice) {
         $('#thsirt-price').text(currentPrice);
         });

         //save image on webserver
         $('#save-image-php').click(function() {

         yourDesigner.getProductDataURL(function(dataURL) {
         $.post("php/save_image.php", {
         base64_image : dataURL
         });
         });

         });

         //send image via mail
         $('#send-image-mail-php').click(function() {

         yourDesigner.getProductDataURL(function(dataURL) {
         $.post("php/send_image_via_mail.php", {
         base64_image : dataURL
         });
         });

         });
         */
      });
  function point_it(event) {
    pos_x = event.offsetX ? (event.offsetX) : event.pageX
        - document.getElementById("body").offsetLeft;
    pos_y = event.offsetY ? (event.offsetY) : event.pageY
        - document.getElementById("body").offsetTop;
    console.log(pos_x);
    console.log(pos_y);
  }
</script>
<!-- Google Webfonts 110 -->
<link href='/css/googlefonts.css' rel='stylesheet' type='text/css'>
</head>
<body onclick="point_it(event)" id="body">
  <div id="main-container">
    <h3 id="clothing">Create Product Design</h3>
    {%if not user_obj %}
    <p>Please Sign-in first to use custom design for your order. You can sign-up by using your
      email address.</p>
    {%endif%}
    <div id="product-designer"
      class="fpd-container fpd-shadow-2 fpd-sidebar fpd-tabs fpd-tabs-side fpd-top-actions-centered fpd-bottom-actions-centered fpd-views-inside-left">
      <div class="fpd-product" title="Sweater" data-thumbnail="images/sweater/preview.png">
        <img src="images/sweater/preview.png" title="BASE"
          data-parameters='{"left": 432, "top": 311}' />
      </div>
      <div class="fpd-design">
        <div class="fpd-category" title="Swirls">
          <img src="images/designs/swirl.png" title="Swirl"
            data-parameters='{"zChangeable": true, "left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
          <img src="images/designs/swirl2.png" title="Swirl 2"
            data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 5, "boundingBox": "Base", "autoCenter": true}' />
          <img src="images/designs/swirl3.png" title="Swirl 3"
            data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "autoCenter": true}' />
          <img src="images/designs/heart_blur.png" title="Heart Blur"
            data-parameters='{"left": 215, "top": 200, "colors": "#bf0200", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 5, "boundingBox": "Base", "autoCenter": true}' />
          <img src="images/designs/converse.png" title="Converse"
            data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "autoCenter": true}' />
          <img src="images/designs/crown.png" title="Crown"
            data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "autoCenter": true}' />
          <img src="images/designs/men_women.png" title="Men hits Women"
            data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
        </div>
        <div class="fpd-category" title="Retro">
          <img src="images/designs/retro_1.png" title="Retro One"
            data-parameters='{"left": 210, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.25, "price": 7, "boundingBox": "Base", "autoCenter": true}' />
          <img src="images/designs/retro_2.png" title="Retro Two"
            data-parameters='{"left": 193, "top": 180, "colors": "#ffffff", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.46, "boundingBox": "Base", "autoCenter": true}' />
          <img src="images/designs/retro_3.png" title="Retro Three"
            data-parameters='{"left": 240, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.25, "price": 8, "boundingBox": "Base", "autoCenter": true}' />
          <img src="images/designs/heart_circle.png" title="Heart Circle"
            data-parameters='{"left": 240, "top": 200, "colors": "#007D41", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "scale": 0.4, "boundingBox": "Base", "autoCenter": true}' />
          <img src="images/designs/swirl.png" title="Swirl"
            data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
          <img src="images/designs/swirl2.png" title="Swirl 2"
            data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 5, "boundingBox": "Base", "autoCenter": true}' />
          <img src="images/designs/swirl3.png" title="Swirl 3"
            data-parameters='{"left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true}' />
        </div>
      </div>
      <div class="fpd-background">
        <div class="fpd-category" title="Swirls">
          <img src="images/designs/swirl.png" title="Swirl"
            data-parameters='{"zChangeable": true, "left": 215, "top": 200, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "price": 10, "boundingBox": "Base", "autoCenter": true}' />
        </div>
      </div>
    </div>
    <br /> {#
    <div class="fpd-clearfix" style="margin-top: 30px; display: none;">
      <div class="api-buttons fpd-container fpd-left">
        <a href="#" id="print-button" class="fpd-btn">Print</a> <a href="#" id="image-button"
          class="fpd-btn">Create Image</a> <a href="#" id="checkout-button" class="fpd-btn">Checkout</a>
        <a href="#" id="recreation-button" class="fpd-btn">Recreate product</a>
      </div>
      <div class="fpd-right">
        <span class="price badge badge-inverse"><span id="thsirt-price"></span> $</span>
      </div>
    </div>
    <p class="fpd-container" style="display: none;">
      Only working on a webserver:<br /> <span class="fpd-btn" id="save-image-php">Save
        image with php</span> <span class="fpd-btn" id="send-image-mail-php">Send image to mail</span>
    </p>
  </div>
  #}
  <div class="fpd-clearfix text-center" style="margin-top: 15px;">
    <div class="api-buttons fpd-container">
      {% if user_obj %}
      <form id="create_product_design_form">
        <input type="hidden" name="product" value="{{key}}"> <input type="hidden"
          name="layer" id="design_layer"> <input type="hidden" name="design_print"
          id="design_print">
        <button type="button" class="fpd-btn" onclick="createUserDisgn()">Save Design</button>
      </form>
      <p id="pls_wait_design_saving" style="display: none;">Please wait preparing your design...</p>
      {%else%}
      <p>Please Sign-in first to use custom design for your order. You can sign-up by using your
        email address.</p>
      {%endif%}
    </div>
  </div>
  <div id="output_dom"></div>
</body>
<script src="/super/assets/js/bootstrap-notify.js"></script>
<script type="text/javascript" src="super/assets/js/algo.js"></script>
</html>