
<div class="navbar">
  <img alt="Craft your choice" src="/img/Craftyourchoice.png" class="home-logo" onclick="window.location='/'">
  <div class="dropdown">
    <button class="dropbtn">
      Products <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      {%for e in product_cat_list%} <a href="/Product?cat={{e.entityKey}}">{{e.name}}</a> {%endfor%}
    </div>
  </div>
  {% if user_obj %} <a href="/Orders">Orders</a> <a href="/AboutUs">About Us</a> <a
    href="/ContactUs">Contact Us</a>
  <div class="pull-right">
    <a href="/Logout" id="logout">Logout</a>
  </div>
  {%else%} <a href="/AboutUs">About Us</a> <a href="/ContactUs">Contact Us</a>
  <div class="pull-right">
    <a href="javascript:showLoginDom();">Sign-In</a> <a href="javascript:showRegisterDom();">Sign-Up</a>
  </div>
  {%endif%}
</div>