<div class="ord-dtl-stg-1">
  <div class="mb-5 text-center" style="border-bottom: 2px black dotted;">
    <h4>Order Details</h4>
  </div>
  <div class="col-sm-6">
    <div class="prod-detail">
      <h4>{{order.code}}, {{order.name}}</h4>
      <p>
        <strong>Invoice Number : </strong> {{order.order_number}}
      </p>
      <p>
        <strong>Invoice Value : </strong> {{order.amount}}
      </p>
      <p>
        <strong>Quantity: </strong> {{order.qty}}
      </p>
      <p>
        <strong>Size: </strong>{{order.size}}
      </p>
      <p>
        <strong>Price: </strong>{{order.retail_price}}
      </p>
      <p>
        <strong>Category: </strong> {{order.category}}
      </p>
      <p>
        <strong>UOM: </strong> {{order.uom}}
      </p>
      <p>
        <strong>Description: </strong>{{order.description}}
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="prod-img">
      <img class="img-responsive" src="{{order.image_url}}" id="product-view-img">
    </div>
  </div>
  <div class="col-sm-12 mt-10">
    <div class="media search-media">
      <div class="media-left">
        <a href="javascript:"> <img class="media-object" alt="{{seller.name}}"
          src="{{seller.img_url or '/super/assets/images/avatars/avatar2.png'}}"
          style="width: 72px; height: 72px;">
        </a>
      </div>
      <div class="media-body">
        <div>
          <h4 class="media-heading">
            <a href="javascript:" class="blue">{{seller.name}}, {{seller.person}} </a>
          </h4>
        </div>
        <p>{{seller.address}}</p>
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 mb-20">
  <ol class="progtrckr" data-progtrckr-steps="5">
    <li class="progtrckr-done" onclick="showHistory(1)">Order Processing</li>
    <li class="progtrckr-todo" onclick="showHistory(2)">Pre-Production</li>
    <li class="progtrckr-todo" onclick="showHistory(3)">In Production</li>
    <li class="progtrckr-todo" onclick="showHistory(4)">Shipped</li>
    <li class="progtrckr-todo" onclick="showHistory(5)">Delivered</li>
  </ol>
  <div id="history_details">
    {%for h in history%} {%if loop.index==1%}
    <p id="history_{{loop.index}}" class="mt-20">{{h['date']}}, {{h['time']}}</p>
    {%else%}
    <p id="history_{{loop.index}}" class="mt-20" style="display: none;">{{h['date']}},
      {{h['time']}}</p>
    {%endif%} {%endfor%}
  </div>
</div>
<div class="col-sm-12 mt-10 mb-10 text-center">
  <button type="button" class="btn btn-success btn-mini "
    onclick="generateOrderPDF('{{order.enityKey}}')">
    <i class="fa fa-download"></i> Invoice PDF
  </button>
  <button type="button" onclick="showOrderList()" class="btn btn-primary btn-mini">
    <i class="ace-icon fa fa-times"></i> Close
  </button>
</div>