<!DOCTYPE html>
<html>
<head>
<title>Craftyourchoice</title>
<link rel="shortcut icon" type="image/png" href="/img/fevicon.png" />
<link rel="stylesheet" href="/css/api.css">
<link href="/light/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--theme-style-->
<link href="/light/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<link rel="stylesheet" href="/super/assets/font-awesome/4.5.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet'
  type='text/css'>
<!--//fonts-->
<link rel="stylesheet" href="/light/css/etalage.css" type="text/css" media="all" />
<!-- <script src="/light/js/jquery.min.js"></script> -->
<!--script-->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- Google Webfonts -->
<link href='/css/Gorditas.css' rel='stylesheet' type='text/css'>
<!-- The CSS for the plugin itself - required -->
<link rel="stylesheet" type="text/css" href="/productdesigner/css/FancyProductDesigner-all.min.css" />
<!-- Optional - only when you would like to use custom fonts - optional -->
<link rel="stylesheet" type="text/css"
  href="/productdesigner/css/jquery.fancyProductDesigner-fonts.css" />
</head>
<body style="height: 100%; width: 100%">
  <!--navbar-->
  {% include 'endclient/navbar.html' %}
  <!---->
  {%if not user_obj%}
  <div class="container main-content" id="login_form"
    style="z-index: 10; background-color: aliceblue; display: none;">
    <div class="mt-20">
      <div class="col-lg-4 col-xs-12 mb-20">
        <form action="/Login" method="post">
          <div class="form-group">
            <label for="email">Email address</label>
            <div>
              <input type="email" class="form-control" id="email" name="email" required="required">
            </div>
          </div>
          <div class="form-group">
            <label for="pwd">Password</label>
            <div>
              <input type="password" name="password" class="form-control" id="pwd" required>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success pull-left">Login</button>
            <a href="javascript:showRegisterDom();" class="pull-right">Create Account</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container main-content" id="registration_dom"
    style="z-index: 10; background-color: aliceblue; display: none;">
    <div class="col-lg-4 col-xs-12 mt-20">
      <form id="registration_form">
        <div class="form-group">
          <label for="email">Name*</label>
          <div>
            <input type="text" class="form-control" id="name" name="name" required="required">
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email address*</label>
          <div>
            <input type="email" class="form-control" id="user_email" name="email"
              required="required">
          </div>
        </div>
        <div class="form-group">
          <label for="pwd">Password*</label>
          <div>
            <input type="password" name="password" class="form-control" id="password" required>
          </div>
        </div>
        <div class="form-group">
          <label for="pwd">Confirm Password*</label>
          <div>
            <input type="password" name="confirm-password" class="form-control"
              id="confirm-password" required>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Contact Number</label>
          <div>
            <input type="text" class="form-control" id="contact" name="contact" required="required">
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox" name="term_condition" id="term_condition"
              style="left: 2vw;"> Accept Term & conditions</label>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox" name="recieved_offers" id="recieved_offers"
              style="left: 2vw;"> Get alert for new offers</label>
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success pull-left" onclick="register()">Sign-Up</button>
          <button type="button" class="btn btn-info pull-right" onclick="showLoginDom()">Sign-in</button>
        </div>
      </form>
      <div class="col-lg-12 col-xs-12text-center" id="registeration_msg_dom" style="display: none;">
        <p>
          Verification mail will sent to your registered email <span id="email_text"></span>, Check
          your inbox and verify account to complete registration.
        </p>
      </div>
    </div>
  </div>
  {%endif%}
  <div class="container" id="product_action_caontainer" style="width: 99vw; padding: 10px;">
    <!-- EXTENTED CODE -->
    <input type="hidden" value="" name="design_id" id="design_id">
    <div class=" single_top">
      <div class="single_grid">
        <div class="grid images_3_of_2">
          <ul id="etalage" style="width: 100%; height: 100%;">
            {%for img in p.image_url%}
            <li><img class="etalage_thumb_image" src="{{img}}" class="img-responsive" />
              <img class="etalage_source_image" src="{{img}}" class="img-responsive" title="" /></li>
            {%else%}
            <li><img class="etalage_thumb_image" src="img/prod_default.png"
              class="img-responsive" /> <img class="etalage_source_image"
              src="img/prod_default.png" class="img-responsive" title="" /></li>
            <li><img class="etalage_thumb_image" src="img/prod_default.png"
              class="img-responsive" /> <img class="etalage_source_image"
              src="img/prod_default.png" class="img-responsive" title="" /></li> {%endfor%}
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="desc1 span_3_of_2" id="prd_info">
          <button type="button" onclick="window.history.go(-1); return false;"
            class="btn btn-sm btn-primary btn-white btn-round btn-mini pull-right">
            <i class="ace-icon fa fa-arrow-left"></i> Back
          </button>
          <h4>{{p.name}}</h4>
          <div class="cart-b">
            <div class="clearfix"></div>
            <div id="vedio_output"></div>
            <div class="pull-left"><b>Price: </b>{{seller_product.retail_price}} KES</div>
            <div class="pull-right">
              {%if tutorial.video_link%}
              <i class="fa fa-youtube-play fa-2x" title="Tutorial video" style="cursor: pointer; color: red;" onclick="playYouTube('{{tutorial.video_link}}', this)"></i>
              {%endif%} 
              {%if tutorial.pdf_bucket_path%}
              <i class="fa fa-file-pdf-o fa-2x" title="Tutorial Pdf" style="cursor: pointer; color: blue;" onclick="downloadFile('{{tutorial.pdf_bucket_path}}')"></i>
              {%endif%} 
            </div> <br> <b>Size:</b> {{p.size}}<br>
            <b>Category:</b> {{p.category}}<br> <b>UOM:</b> {{p.uom}}<br> <b>Description:</b>{{p.description}}<br />{%
            if seller_product %}
            <div id="selected_seller_price_info"></div>
            <div class="share">
              <form id="product_order_form">
                <input type="hidden" name="qty" id="selected_product_qty" value="1"> <input
                  type="hidden" name="design_id" id="selected_design_id"> <input
                  type="hidden" name="product" id="selected_seller_product"
                  value="{{seller_product.entityKey}}">
              </form>
            </div>
            <br />Maxpro will
            provide free delivery to you.<br /> <br /> 
            {%if not AllowDesignerOffLogin and not user_obj%}
            <a class="now-get" id="create_desgin_btn"
              href="javascript:alert('Please login to create your design')">Create Design</a>
            {%else%}
            <a class="now-get" id="create_desgin_btn"
              href="/GetProductDesignor?key={{p.entityKey}}">Create Design</a>
              {%endif%} 
          </div>
        </div>
        {%endif%}
        <div class="clearfix"></div>
      </div>
      <div class="nbs-flexisel-container">
        {%if save_design_list%}
        <div class="nbs-flexisel-inner">
          <h5>Saved designs:</h5>
          {%for d in save_design_list%}
          <div class="ready-design-box" style="background-image: url('{%if d.svg_url %}{{d.svg_url[0]}}{%endif%}')" id="{{d.entityKey}}" data-list="{{d.svg_url}}"> 
            <div class="overlay"></div>
            <div class="button" style="left: 30px" onclick="showImageModel(this)">View</div>
            <div class="button" style="left: 130px" onclick="deleteDesign('{{d.entityKey}}')">Delete</div>
            <div class="button" style="left: 250px">Order</div>
          </div>
          {%endfor%}
        </div>
        {%endif%} {%if design_list%}
        <div class="nbs-flexisel-inner">
          <h5>Choose from ready designs:</h5>
          {%for d in design_list%} 
          <div class="ready-design-box" style="background-image: url('{{d.design_prev_url}}')">
            <div class="overlay"></div>
            <div class="button" style="left: 30px" onclick="showImageModel('{{d.design_prev_url}}')">View</div>
            <a class="button" style="left: 130px" href="/GetProductDesignor?key={{p.entityKey}}{%if d.template_source%}&readyDesignKey={{d.entityKey}}{%else%}&redayDesignTemplate={{d.template_name}}{%endif%}">Edit</a>
            <div class="button" style="left: 250px">Order</div>
          </div>
          {%endfor%}
        </div>
        {%endif%}
      </div>
    </div>
  </div>
  <!--footer-->
</body>
<div id='modal-background'>
    <button type="button" class="btn btn-danger mt-5">Close</button>
    <div id='modal-content'></div> 
</div>
<!-- Include js files -->
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/light/js/main.js"></script>
<script src="/light/js/jquery.etalage.min.js"></script>
<script src="/super/assets/js/algo.js" type="text/javascript"></script>
<script src="/js/api.js" type="text/javascript"></script>
<script>
  jQuery(document).ready(function($) {

    $('#etalage').etalage({
      thumb_image_width : 350,
      thumb_image_height : 350,
      source_image_width : 500,
      source_image_height : 500,
      show_hint : true,
      click_callback : function(image_anchor, instance_id) {

      }
    });

    /*  $('#etalage').css({
       width : '100%',
       height : '-webkit-fill-available'
     });
     $('#etalage>li>img').css({
       width : '100%',
       height : '100%'
     });
     */
  });
</script>