<!-- Google Webfonts 110 -->
<link href='/css/googlefonts.css' rel='stylesheet' type='text/css'>
<div id="main-container">
  <h3 id="clothing" style="float: left;">{{p.code}}-{{p.name}} Designer</h3>
  <button type="button" onclick="backToProductAcitionDom()"
    class="btn btn-sm btn-primary btn-white btn-round btn-mini mt-15 pull-right">
    <i class="ace-icon fa fa-arrow-left"></i> Back
  </button>
  <div id="product-designer" style="clear: both;"
    class="fpd-container fpd-shadow-2 fpd-sidebar fpd-tabs fpd-tabs-side fpd-top-actions-centered fpd-bottom-actions-centered fpd-views-inside-left">
    {%if canvas%}
    <div class="fpd-product" title="Base" data-thumbnail="{{canvas.img_url}}">
      <img src="{{canvas.img_url}}=s0" title="Base"
        data-parameters='{"isEditable": false, "left": {{canvas.left}}, "top": {{canvas.top}}, "colors": "#d59211", "price": 0}' />
    </div>
    {%else%}
    <div class="fpd-product" title="Base" data-thumbnail="/img/MUG.png">
      <img src="/img/Product.png" title="Base"
        data-parameters='{"isEditable": false, "left": 525, "top": 400, "colors": "#d59211", "price": 0}' />
    </div>
    {%endif%}
    <div class="fpd-design">
      {%for cat in design_list%}
      <div class="fpd-category" title="{{cat.title}}" data-thumbnail="">
        {%if cat.key in sub_cat_dict%} {%set cat_list=sub_cat_dict[cat.key]%} {%for sc in cat_list%}
        <div class="fpd-category" title="{{sc.title}}">
          {%for img in sc.img_url%} <img src="{{img}}" title="{{sc.title}}{{loop.index}}"
            data-parameters='{"zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
          {%endfor%}
        </div>
        {%endfor%} {%endif%} {%for img in cat.img_url%} <img src="{{img}}"
          title="{{cat.title}}{{loop.index}}"
          data-parameters='{"zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
        {%endfor%}
      </div>
      {%endfor%}
    </div>
    <div class="fpd-background">
      {%for cat in sub_bg_list%}
      <div class="fpd-category" title="{{cat.title}}" data-thumbnail="">
        {%if cat.key in sub_bg_dict%} {%set cat_list=sub_bg_dict[cat.key]%} {%for sc in cat_list%}
        <div class="fpd-category" title="{{sc.title}}">
          {%for img in sc.img_url%} <img src="{{img}}" title="{{sc.title}}{{loop.index}}"
            data-parameters='{"zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
          {%endfor%}
        </div>
        {%endfor%} {%endif%} {%for img in cat.img_url%} <img src="{{img}}"
          title="{{cat.title}}{{loop.index}}"
          data-parameters='{"zChangeable": true, "colors": "#000000", "removable": true, "draggable": true, "rotatable": true, "resizable": true, "boundingBox": "Base", "autoCenter": true}' />
        {%endfor%}
      </div>
      {%endfor%}
    </div>
  </div>
  <br />
  <div class="fpd-clearfix text-center" style="margin-top: 15px;">
    <div class="api-buttons fpd-container">
      <h5>Help and tips:</h5>
      <ol>
        <li>Keyboard Control: Use arrow keys to move and backspace key to delete selected
          element</li>
      </ol>
      <form id="create_product_design_form">
        <input type="hidden" name="product" value="{{key}}"> <input type="hidden"
          name="layer" id="design_layer"> <input type="hidden" name="design_print"
          id="design_print">
        <button type="button" onclick="backToProductAcitionDom()" class="fpd-btn">
          <i class="ace-icon fa fa-arrow-left"></i> Back
        </button>
        <button type="button" class="fpd-btn" onclick="createUserDisgn()">Save Design</button>
      </form>
      <p id="pls_wait_design_saving" style="display: none;" class="text-center">Please wait
        preparing your design...</p>
    </div>
  </div>
</div>
<script type="text/javascript"> 
var canvasPreviewUrl = ''
var preview_top = 0;
var preview_left = 0;
{%if canvas%}
canvasPreviewUrl = '{{canvas.preview_url}}=s0';
preview_top = '{{canvas.preview_top}}px';
preview_left = '{{canvas.preview_left}}px';

{%endif%}

  jQuery(document).ready(
      function() {

        var $yourDesigner = $('#product-designer'), pluginOpts = {
          stageWidth : 1600,
          stageHeight: 1200,
          editorMode : true,
          fitImagesInCanvas: true,
          toolbarPlacement : "smart",
          mainBarModules : [ 'images', 'text', 'designs', 'backgrounds',
              'manage-layers', 'text-layers' ],
          actions : {
            'top' : [ 'download', 'print', 'preview-lightbox' ],
            'right' : [ 'magnify-glass', 'zoom', 'reset-product', 'qr-code' ],
            'bottom' : [ 'undo', 'redo' ],
          },

          fonts : [ 'Arial', 'Fearless', 'Helvetica', 'Times New Roman',
              'Verdana', 'Geneva', 'Gorditas', 'Eczar', 'Roboto Mono',
              'Poor Story', 'Titillium Web', 'Noto Serif', 'Work Sans',
              'Chela One', 'Indie Flower', 'Inconsolata', 'Bitter',
              'Libre Baskerville', 'Anton', 'Josefin Sans',
              'Cormorant Unicase', 'Lobster', 'Arvo', 'Pacifico', 'Do Hyeon',
              'Shadows Into Light', 'Dancing Script', 'Abril Fatface',
              'Bree Serif', 'Coda Caption', 'Kanit', 'Acme',
              'Gloria Hallelujah', 'Righteous', 'Rajdhani', 'Permanent Marker',
              'Farsan', 'Great Vibes', 'Concert One', 'Poiret One', 'Satisfy',
              'Courgette', 'Marck Script', 'Prata', 'Audiowide', 'Unica One',
              'Julius Sans One', 'Ultra', 'Economica', 'IBM Plex Mono',
              'Amaranth', 'Prosto One', 'Bangers', 'Shrikhand', 'Handlee',
              'Boogaloo', 'Tangerine', 'Kalam', 'Sacramento',
              'Architects Daughter', 'PT Mono', 'Bad Script', 'Special Elite',
              'Libre Barcode 128 Text', 'Shadows Into Light Two',
              'Cabin Sketch', 'Parisienne', 'Damion', 'Covered By Your Grace',
              'Playball', 'Nothing You Could Do', 'Homemade Apple',
              'Fugaz One', 'Rock Salt', 'Allura', 'Press Start 2P',
              'Alex Brush', 'Black Ops One', 'Carter One', 'Just Another Hand',
              'Fredericka the Great', 'Syncopate', 'Bungee Inline', 'Niconne',
              'Coming Soon', 'Leckerli One', 'Galada', 'Caveat Brush',
              'Pinyon Script', 'Cinzel Decorative', 'Mr Dafoe',
              'Reenie Beanie', 'Italianno', 'Nanum Pen Script', 'Quantico',
              'Skranji', 'Allerta Stencil', 'Grand Hotel', 'Yesteryear',
              'Marvel', 'Freckle Face', 'Rochester', 'Nanum Brush Script',
              'Alegreya SC', 'Annie Use Your Telescope', 'Faster One',
              'Raleway Dots', 'Calligraffitti', 'Aclonica', 'Yatra One',
              'Share Tech Mono', 'Graduate', 'Petit Formal Script',
              'East Sea Dokdo', 'Love Ya Like A Sister', 'Kurale',
              'IM Fell Double Pica', ],
          customTextParameters : {
            colors : true,
            removable : true,
            resizable : true,
            draggable : true,
            rotatable : true,
            autoCenter : true,
            boundingBox : "Base",
            curvable : true,
            curveReverse : true,
          },
          customImageParameters : {
            removable : true,
            colors : '#000',
            autoCenter : true,
            boundingBox : "Base",
            minW : 1,
            minH : 1,
            maxW : 9900,
            maxH : 9900,
            filter : true,
            uniScalingUnlockable : true,
            advancedEditing : true,
            editorMode : true,
          },
          imageParameters : {
            filter : true,
            uniScalingUnlockable : true,
            advancedEditing : true,
            /* uploadZone: true, */ 
          },
          imageEditorSettings : {
            masks : [{%for img in masks%}{{img}},{%endfor%} ],
          },
          elementParameters : {
            patterns : [{%for img in patterns%}{{img}},{%endfor%}],
               
          },
        };

        yourDesigner = new FancyProductDesigner($yourDesigner, pluginOpts);

      });
      
</script>      