<!DOCTYPE html>
<html>
<head>
<title>Craftyourchoice</title>
<link rel="stylesheet" href="/css/api.css">
<link href="/light/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--theme-style-->
<link href="/light/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<link rel="stylesheet" href="/super/assets/font-awesome/4.5.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript">
   addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }  
</script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet'
  type='text/css'>
<!--//fonts-->
<link rel="stylesheet" href="/light/css/etalage.css" type="text/css" media="all" />
<!-- <script src="/light/js/jquery.min.js"></script> -->
<!--script-->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- Google Webfonts -->
<link href='/css/Gorditas.css' rel='stylesheet' type='text/css'>
<!-- Google Webfonts 110 -->
<link href='/css/googlefonts.css' rel='stylesheet' type='text/css'>
<!-- The CSS for the plugin itself - required -->
<link rel="stylesheet" type="text/css" href="/productdesigner/css/FancyProductDesigner-all.min.css" />
<!-- Optional - only when you would like to use custom fonts - optional -->
<link rel="stylesheet" type="text/css" href="/productdesigner/css/jquery.fancyProductDesigner-fonts.css" />
</head>
<body style="height:100%; width:100%">
  <!--navbar-->
  {% include 'endclient/navbar.html' %}
  <!---->
  <div class="container main-content" id="product_list_caontainer">
    <div class="shoes-grid-left">
      <div class="products">
        <h5 class="latest-product">CATEGORY:</h5>
        {%for cat in category_list%} <a
          class="category-btn {%if cat.key==selected_cat%}active{%endif%}"
          href="/Product?cat={{cat.entityKey}}">{{cat.name}}</a> {%endfor%}
      </div>
      <div class="product-left">
        {% for p in product_list%}
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-20">
          <div class="item-broder">
            <a href="javascript:clientGetProd('{{p.entityKey}}')"><img style="height: 350px;"
              class="img-responsive chain" src="{{p.image_url[0] or 'img/prod_default.png'}}"
              alt=" " /></a> <span class="star"> </span>
            <div class="grid-chain-bottom">
              <h6 class="text-ovrflw">
                <a href="javascript:">{{p.name}}</a>
              </h6>
              <div class="star-price text-center">
                <a class="buy get-buy" href="javascript:clientGetProd('{{p.entityKey}}')">View</a>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
  <div class="container main-content" id="product_action_caontainer" style="display: none;"></div>
  <div class="container main-content" id="product_design_caontainer" style="display: none;"></div>
  <div class="container main-content" id="product_order_caontainer" style="display: none;margin-top: 20px;margin-bottom: 20px;"></div>
  <div class="container main-content" id="order_list_caontainer" style="display: none;"></div>
  <!--footer-->
  {% include 'endclient/footer.html' %}
  <!---->
</body>
<!-- Include js files -->
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/jquery-ui.min.js" type="text/javascript"></script>
<script src="/super/assets/js/bootstrap-notify.js"></script>
<script type="text/javascript" src="super/assets/js/algo.js"></script>
<script src="/light/js/main.js"></script>
<script src="/light/js/jquery.etalage.min.js"></script>
<script src="/js/designAlgo.js" type="text/javascript"></script>
<script src="/js/api.js" type="text/javascript"></script>
<!-- The plugin itself - required -->

<!-- <script src="/js/plugins.min.js" type="text/javascript"></script>  -->

<!-- HTML5 canvas library - required -->
<script src="/productdesigner/js/fabric.min.js" type="text/javascript"></script> 
<script src="/productdesigner/js/fpd.js" type="text/javascript"></script> 
</html>